APP_SECRET=
APP_API_URL_ENV=http://localhost:3333
APP_WEB_URL_ENV=http://localhost:3000

MAIL_DRIVER_ENV=ethereal

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# AWS_ACCESS_KEY_ID=AKIAWHALAJMFNUXTD6LZ
# AWS_SECRET_ACCESS_KEY=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
# AWS_DEFAULT_REGION=us-east-2

# Storage Driver
STORAGE_DRIVER = 'disk'

#Redis host
REDIS_HOST= localhost
REDIS_PORT=
REDIS_PASS=
